* {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.nav-section {
  padding: 20px 20px;
  /* border: 1px solid red; */
}

.container {
  position: relative;
  width: 100%;
  flex: 1 1 auto;
}

.nav-container {
  margin-right: 10px;
  margin-left: 10px;
}

.inner-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome-button{
  background-color: rgb(43, 42, 42);
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.home-list {
  padding-left: 20px;
  padding-right: 10px;
}

.ordered-list {
  display: flex;
  list-style: none;
  margin-right: 10px;
  justify-content: space-between;
  flex: 1 1 100%;
}

.list {
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.logo {
  font-size: 40px;
}

.logo >p>span {
  background-color: black;
  color: #fff;
  border-radius: 30px;
}

.header-section {
  padding-top: 20px;
  padding-bottom: 40px;
}


.sectional-container {
  display: flex;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.inner-body {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.inner-body>p{
  text-align: center;
  font-size: 35px;
  background-color: #f8f6f6;
  padding: 100px 30px;
}

.header-image {
  max-width: 50%;
  height: auto;
}

.inner-body>p>span {
  font-size: 30px;
}


.section2 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.programming-language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  padding: 20px;
}

.section2-header {
  color: rgb(31, 28, 28);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  max-width: 80%;
}

.section2-header >p {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}


.section2-body {
  padding: 40px 20px;
  background-color: black;
  border-radius: 30px;
  flex-wrap: wrap;
}

.section2-ol {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center; 
}

.section2-list {
  color: #ffffff;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  width: 100%;
  flex: 1 1 100%;
}

.about-me-header {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.about-me-inner-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  width: 100%;
}


.paragraph-header {
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about-me-body {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  flex: 1;
}
  
.about-me-inner-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-me-img {
  width: 50%;
  height: auto;
  flex: 1;
}

.download-button {
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: lightcyan;
}

.portfolio-header {
  padding: 30px;
}

.project-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  padding: 20px;
}

.project-content {
  min-width: 200px;
  flex: 1 1 30%;
  margin-right: 20px;
}

.project-img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.project-tips {
  font-size: 20px;
  margin-top: 10px;
}

.interest-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  padding: 20px;
}

.interest {
  text-align: center;
  font-size: 15px;
  max-width: 700px;
}




.contact-section {
  padding-left: 20px;
  padding-right: 20px;
}


.contact-body {
  display: flex;
  justify-content: center;
  background-color: lightcyan;
  border-radius: 100px;
}

.contact-ol-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-list {
  padding-right: 40px;
}

.twitter {
  max-width: 75px;
}

.gmail {
  max-width: 50px;
  padding-right: 20px
}

.github {
  max-width: 55px;
}


footer {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px 0;
}


@media (min-width: 1200) {
  .container {
    max-width: 1120px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 7200px;
  }

  .welcome-button {
    display: none;
  }

  .about-me-inner-body{
    font-size: 20px;
  }

  .project-content {
    flex: 1 1 30%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .welcome-button {
    display: none;
  }

  #logo {
    font-size: 15px;
  }

  .list {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0;
  }

  .about-me-inner-body{
    font-size: 10px;
  }

  .paragraph-header {
    font-size: 30px;
  }

  .project-content {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 420px;
  }

  .welcome-button {
    display: none;
  }

  #logo {
    font-size: 9px;
  }

  .list {
    font-size: 9px;
    padding-left: 10px;
    padding-right: 0;
    flex-shrink: 100%;
  }

  .inner-body>p{
    font-size: 20px;
  }

  .inner-body>p>span {
    font-size: 15px;
  }

  .about-me-inner-body{
    font-size: 7px;
  }

  .paragraph-header {
    font-size: 20px;
  }

  .project-content {
    flex: 1 1 10%;
  }
}